body,
.navbar {
  background-color: #060f29 !important;
}
body {
  overflow-x: hidden;
}

.active {
  color: #ffc107 !important;
}

.navbar .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
}
.navbar .nav-link:hover {
  color: #ffc107 !important;
  opacity: 0.7;
}
.show {
  display: none;
}

/* About Text */
.aboutTxt {
  background-color: #060f29;
  width: 100vw !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5rem;
}
.aboutTxt > div {
  margin: 0 1rem;
  padding: 1rem;
}

.infoTxt {
  /*width: 34rem;*/
  width: 75%;
  line-height: 1.7rem;
  text-align: justify;
  color: white;
}

.phone{
  color: white;
}

.round {
  border-radius: 100rem;
}
.round a {
  color: white;
  font-size: 1.5rem;
}
.round a:hover i {
  transform: scale(1.1);
}




.line {
  /* border-top: 5px solid rgba(255, 255, 255, 0.1); */
  /* border-bottom: 5px solid rgba(255, 255, 255, 0.1); */
  padding-top: 1.5rem;
  /* margin: 2rem 1.5rem; */
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 520px) {
  .show {
    display: block;
  }
  .aboutTxt{
    flex-direction: column;
  }
  .infoTxt{
    width: 90%;
  }
}

@media (max-width: 750px) {
  #headerCArousel{
    width: 100%;
  }
  .show {
    display: block;
  }

}



