*{
  box-sizing: border-box;
}

/* @import url('https://fonts.cdnfonts.com/css/gotham'); */
                
/* a,h1,h2,h3,h4,h5,h6,p{
  font-family: 'Gotham', sans-serif!important;
} */

body,
.navbar {
  background-color: #060f29 !important;
}
body {
  overflow-x: hidden;
}

.active {
  color: #ffc107 !important;
}

.navbar .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
}
.navbar .nav-link:hover {
  color: #ffc107 !important;
  opacity: 0.7;
}
.show {
  display: none;
}

@media (max-width: 750px) {
  .show {
    display: block;
  }

}
/* Specifi css  */

.round {
  width: 35px!important;
  height: 35px!important;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 17.5px;
  margin-right: 5px;
}
.round a {
  margin: 0!important;
  padding: 0!important;
  align-content: center;
  color: white;
}
.round a:hover i {
  transform: scale(1.1);
}

.btn-insta{
  background-color: #d63384;
}


.card{
  width: 15vw!important;
  cursor: pointer;
}

@media (max-width: 576px) {
  .card {
    width: 100vw!important;
  }
}


@media (max-width: 768px) {
  .card {
    width: 75vw!important;
  }
}


@media (max-width: 992px) {
  .card {
    width: 45vw!important;
  }
}
