body,
.navbar {
  background-color: #060f29 !important;
}

.active {
  color: #ffc107 !important;
}

.navbar .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
}
.navbar .nav-link:hover {
  color: #ffc107 !important;
  opacity: 0.7;
}
.line {
  /* border-top: 5px solid rgba(255, 255, 255, 0.1); */
  /* border-bottom: 5px solid rgba(255, 255, 255, 0.1); */
  padding-top: 1.5rem;
  /* margin: 2rem 1.5rem; */
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}
#headerCArousel{
  width: 60%;
}

.imgSlider {
  width: 50%;
}

.show {
  display: none;
}

@media (max-width: 750px) {
  .imgSlider {
    width: 78%;
  }
  #headerCArousel{
    width: 100%;
  }
    .show {
    display: block;
  }
}
@media (max-width: 520px) {
  .imgSlider {
    width: 94%;
  }
}


.carouselBottomDiv{
  height: 60px;
  width: 100%;
background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselBottomDiv a{
  text-align: center;
  text-decoration: none;
  color: snow;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}


@media (max-width : 750px) {
  .carouselBottomDiv{
    height: 80px;
  }
  .carouselBottomDiv a{
    font-size: 0.9rem;
  }
}