{% load replace_dot %}
{% load static %}
{% load thumbnail %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "mainwebsite/style/home.css" %}">
    <script
    src="https://kit.fontawesome.com/92b21ed5b0.js"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>সংহতি : An Art Fundraiser for Prithibir Pathshala</title>

    <style>
        /* Floating button */
        .cartFloating{
            position: absolute;
            bottom: 10px;
            right: 20px;
            background-color: coral;
            padding: 5px;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #fff;
        }

        .cartFloating:hover{
            transform: scale(1.2);
            color: #fff;
        }

        .cartFloating span{
            position: absolute;
            top: -5px;
            left: -5px;
            background-color: red;
            padding: 2.5px;
            border-radius: 100px;
            font-size: 12px;
            font-style: italic;
            font-weight: bold;
        }
    </style>
  </head>
  <body>
    <a class="cartFloating"><i class="fas fa-shopping-cart fa-lg"></i><span id="cartCount">0</span></a>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
        <div class="container-fluid text-light">
            <a class="navbar-brand" href="/">
                <img src="{% static "mainwebsite/logo.png" %}" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mx-4 mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about/">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/artists/">Artist</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/cart/">Cart</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="col-lg-6 col-md-6 mx-auto text-light text-center" style="margin-top: 80px;">
{% if empty_cart or total_price == 0 %}
            <div class="alert alert-danger" role="alert">
            Sorry ! No items in your cart. Do some shopping & get back.
              </div>
{% else %}
            <table class="table table-dark table-stripped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Size</th>
                <th scope="col">Price Per Product</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
                {% for i in cart_data %}
                    <tr id="column_{{ i.product.id }}_{{ i.size.size|replace_dot }}">
                        <td scope="row">{{ i.product.id }}</td>
                        <td>
                            {% thumbnail i.product.picture.path "x100" crop="noop" as im %}
                            <img src="{{ im.url }}" height="100" alt="...">
                            {% endthumbnail %}

                        <td>{{ i.size.size }}</td>
                        <td ><a id='price_{{ i.product.id }}_{{ i.size.size|replace_dot }}'>{{ i.size.price }}</a></td>
                        <td> <a onclick='increase_product_quantity({{ i.product.id }},"{{ i.size.size }}")'><i class="fas fa-plus-circle fa-lg"></i></a> &nbsp;&nbsp;<a id="quantity_{{ i.product.id }}_{{ i.size.size|replace_dot }}">{{ i.quantity }}</a> &nbsp;&nbsp;<a onclick='reduce_product_quantity({{ i.product.id }},"{{ i.size.size }}")'><i class="fas fa-minus-circle fa-lg"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <h6>Total Price : <i><a id="total_price">{{ total_price }}</a></i></h6><hr>
          <a class="btn btn-light btn-lg" href="/checkout/">Checkout Now</a>
{% endif %}

    </div>
      <div class="container">
        <footer class="py-3 my-4">
            <a href="#" class="nav-link px-2 text-light text-center"> সংহতি : An Art Fundraiser for Prithibir Pathshala</a>
        </footer>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
   <script>

    $.cookie.json = true;
    let cart_items ;
    const emptyData = {"cartItems": []};
    let idlist = [];



    $(function(){
        if(typeof  $.cookie('cartHistory') === "undefined") return;
         const data = $.cookie('cartHistory').cartItems;
        $("#cartCount").html(data.length);
         for(i in data){
             idlist.push(`${data[parseInt(i)].productId}|${data[parseInt(i)].size}`)
         }
         cart_items = data;
     });

    function replace_dot(value) {
        return value.toString().replace(".","").replace(" ","");
    }

    function removeItemOnce(arr, value) {
      var index = arr.indexOf(value);
      if (index > -1) {
        arr.splice(index, 1);
      }
      return arr;
    }

    function addAndGetUpdatedJson(productId, size, quantity) {
     if (!$.cookie('cartHistory')) {
       $.cookie('cartHistory', emptyData,{ path: '/' });
     }
      var cart = $.cookie('cartHistory');
      cart.cartItems.push({"productId": productId, "size": size, "quantity": quantity});
      return cart;
     }

    function addProduct(productId, size, quantity){
         if(!idlist.includes(`${productId.toString()}|${size}`)){
             idlist.push(`${productId}|${size}`);
             var jsonData = addAndGetUpdatedJson(productId, size, quantity);
             cart_items = jsonData;
             $.cookie('cartHistory', jsonData,{ path: '/' })  ;
         }
         update_cart();
     }

    function reduce_product_quantity(id, size) {
        for (i in cart_items) {
            if (cart_items[i].productId == id && cart_items[i].size == size) {
                if (cart_items[i].quantity > 1) {
                    cart_items[i].quantity = cart_items[i].quantity - 1;
                    $(replace_dot(`#quantity_${id}_${size}`)).html(cart_items[i].quantity);
                    $("#total_price").html(parseInt($("#total_price").html())-parseInt($(replace_dot(`#price_${id}_${size}`)).html()));
                    {#id = id.toString();#}
                    {#$('.counter' + id).val(cart_items[i].quantity);#}
                } else {
                    cart_items.splice(i, 1);
                    $("#total_price").html(parseInt($("#total_price").html())-parseInt($(replace_dot(`#price_${id}_${size}`)).html()));
                    $(replace_dot(`#column_${id}_${size}`)).remove();
                    {#p_id = id.toString();#}
                    {#$(".main" + p_id).hide();#}
                    break;
                }
                break;
            }
        }
        var cartItems = {"cartItems": cart_items};
        $.cookie('cartHistory', cartItems,{ path: '/' });
        update_cart();
    }

    function increase_product_quantity(id, size) {
        for (i in cart_items) {
            if (cart_items[i].productId == id && cart_items[i].size == size) {
                    cart_items[i].quantity = cart_items[i].quantity + 1;
                    $(replace_dot(`#quantity_${id}_${size}`)).html(cart_items[i].quantity);
                    $("#total_price").html(parseInt($("#total_price").html())+parseInt($(replace_dot(`#price_${id}_${size}`)).html()))
                    {#id = id.toString();#}
                    {#$('.counter' + id).val(cart_items[i].quantity);#}
                break;
            }
        }
        var cartItems = {"cartItems": cart_items};
        $.cookie('cartHistory', cartItems,{ path: '/' });
        update_cart();
    }

    function delete_from_cart(id,size){

        for( i in cart_items ){
            if( cart_items[i].productId == id && cart_items[i].size == size){
                removeItemOnce(idlist,`${id}|${size}`)
                cart_items.splice(i,1);
                {#p_id = id.toString();#}
                {#$(".main"+p_id).hide();#}
            break;
            }
        }
        var cartItems = {"cartItems": cart_items};
        $.cookie('cartHistory', cartItems,{ path: '/' });

        update_cart();
    }

    function update_cart() {
        console.log("Update UI");
        console.log(cart_items);
        $("#cartCount").html(cart_items.length);
    }

</script>

  </body>
</html>

